/*Global variables*/
html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
h2, h3, h4{
  margin: 0;
  padding: 10px;
}
.flexcontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body{
  margin: 0;
}
/*header*/
header{
  height: 69px;
  top: 0;
  width: 100%;
  overflow: auto;
  z-index: 10;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
}
/*logo styling*/
header img{
  height: 50px;
  padding: 10px;
}
/*Nav styling*/
nav{
  text-align: right;
  flex-grow: 1;
  margin-right: 50px;
}
li{
  display: inline-flex;
  justify-content: flex-end;
  text-decoration: underline;
  padding: 0px 10px;
}
a{
  color: white;
}

/*Main content heading*/

#jumbotron {
  height: 700px;
  width: 1200px;
  padding-top: 69px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission{
  width: 1200px;
  text-align: center;
  background-color: black;
  margin: auto;
}
/*Tea of the Month Section*/
#teaofthemonth{
  width: 1000px;
  min-height: 700px;
  padding-top: 100px;
  margin: 0;
  text-align: center;
}
.tealayout{
  padding: 5px;
}
.tealayout img{
  height: 200px;
  display: block;
  padding: 0px 10px;
}
/*Location Section*/
#locations{
  background-image: url("../images/img-locations-background.jpg");
  text-align: center;
  min-height: 500px;
  width: 1200px;
  padding-top: 70px;
}
.location{
  text-align: center;
  width: 300px;
  margin: 5px 20px;
  background-color: black;
  display: block;
  opacity: 1.0;
}
.location h3{
  padding-top: 20px;
}
.location p{
  padding: 10px;
}
/*Footer*/
footer{
  text-align: center;
  height: 200px;
}
#copyright{
  text-align: left;
  margin-left: 20px;
}
